<form autocomplete="off">
    {{> "systems/sw5e/templates/advancement/parts/advancement-controls.html"}}
    <div class="form-group">
        <label>{{localize "SW5E.HitDie"}}</label>
        <span class="form-field-readonly">{{hitDie}}</span>
    </div>
</form>
