.sw5e.advancement {
  /* ----------------------------------------- */
  /*  Advancement Selection                    */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Two Column Configurations                */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Scale Value                              */
  /* ----------------------------------------- */
}
.sw5e.advancement input[type="text"],
.sw5e.advancement input[type="number"],
.sw5e.advancement select {
  height: var(--form-field-height);
}
.sw5e.advancement .form-group .form-fields button {
  flex: 0;
}
.sw5e.advancement .form-group .form-field-readonly {
  color: #999;
}
.sw5e.advancement .items-list {
  margin-bottom: 1em;
  /* Solves the borders being cut off */
}
.sw5e.advancement .items-list li.item {
  padding-top: 0.25em;
}
.sw5e.advancement .items-list .item-hint {
  flex: 0 1 100%;
  margin-left: 35px;
  margin-bottom: 0.5em;
}
.sw5e.advancement .items-list .entity-link {
  display: inline-block;
}
.sw5e.advancement .centered {
  text-align: center;
}
.sw5e.advancement.two-column {
  --grid-two-column-left-size: 1fr;
  --grid-two-column-right-size: 1fr;
}
.sw5e.advancement.two-column form {
  display: grid;
  grid-template-columns: var(--grid-two-column-left-size) var(--grid-two-column-right-size);
  grid-template-areas: "left right";
  grid-gap: 0.4em;
}
.sw5e.advancement.two-column form .left-column {
  grid-area: left;
}
.sw5e.advancement.two-column form .right-column {
  grid-area: right;
}
.sw5e.advancement.two-column form button[type="submit"] {
  grid-column-end: span 2;
}
.sw5e.advancement.scale-value {
  --grid-two-column-right-size: 0.6fr;
}
.sw5e.advancement.scale-value .right-column label {
  flex: 0.5;
  padding-right: 0.5rem;
  text-align: right;
}
.sw5e.advancement.scale-value input[type="text"]::placeholder {
  opacity: 0.5;
}
.sw5e.advancement.scale-value select.new-scale-value {
  font-weight: bold;
}
.sw5e.advancement.scale-value select option[value=""] {
  color: var(--color-text-light-6);
}
/* ----------------------------------------- */
/*  Advancement Flow                         */
/* ----------------------------------------- */
.sw5e.advancement.flow .step {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.sw5e.advancement.flow .step h1 {
  flex-grow: 1;
}
.sw5e.advancement.flow .step h2 {
  text-align: right;
  line-height: 1.8em;
  border-bottom: 2px solid var(--color-underline-header);
}
.sw5e.advancement.flow .step form {
  flex-basis: 100%;
}
.sw5e.advancement.flow h3 {
  font-size: var(--font-size-20);
}
.sw5e.advancement.flow .item-name .item-image {
  flex: 0 0 30px;
  height: 30px;
  background-size: 30px;
  margin-inline-end: 5px;
}
.sw5e.advancement.flow .item-name label {
  align-items: center;
}
.sw5e.advancement.flow .item-name label h4 {
  margin: 0;
  font-size: 0.9rem;
}
.sw5e.advancement.flow form:not(:last-of-type) {
  margin-block-end: 0.5em;
  border-block-end: 2px groove var(--color-border-light-1);
  padding-block-end: 1em;
}
.sw5e.advancement.flow form[data-type="HitPoints"] div {
  font-size: var(--font-size-14);
}
.sw5e.advancement.flow form[data-type="HitPoints"] .rolls {
  display: grid;
  grid-template-columns: 50% 1fr 1fr;
  align-items: center;
  gap: 2px;
}
.sw5e.advancement.flow form[data-type="HitPoints"] .rolls .averageLabel span,
.sw5e.advancement.flow form[data-type="HitPoints"] .rolls .averageLabel input {
  vertical-align: middle;
}
.sw5e.advancement.flow form[data-type="HitPoints"] .rolls .rollResult {
  text-align: center;
}
.sw5e.advancement.flow form[data-type="HitPoints"] .rolls .rollButton {
  height: calc(var(--form-field-height) + 5px);
  line-height: 1.5em;
}
.sw5e.advancement.flow input.error {
  outline: 2px solid red;
}
.sw5e.advancement.flow form[data-type="ScaleValue"] p {
  margin-block-end: 0;
  font-size: var(--font-size-18);
}
.sw5e.advancement.flow form[data-type="ScaleValue"] span.none {
  font-style: italic;
}
.sw5e.advancement.flow nav {
  display: flex;
  justify-content: flex-end;
  margin-block-start: 1em;
}
.sw5e.advancement.flow nav button {
  max-width: 50%;
}
