/* Deprecated vars */
/* ----------------------------------------- */
/*  Fonts                                    */
/* ----------------------------------------- */
@font-face {
  font-family: 'Modesto Condensed';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/modesto-condensed/modesto-condensed.woff2') format('woff2');
}
@font-face {
  font-family: 'Modesto Condensed';
  font-style: normal;
  font-weight: 700;
  src: url('../../fonts/modesto-condensed/modesto-condensed-bold.woff2') format('woff2');
}
.modesto {
  font-family: "Modesto Condensed", "Palatino Linotype", serif;
  font-size: 20px;
  font-weight: 700;
}
/* ----------------------------------------- */
/*  Sheet Styles                             */
/* ----------------------------------------- */
/* ----------------------------------------- */
/*  Flexbox                                  */
/* ----------------------------------------- */
.flexrow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.flexrow > * {
  flex: 1;
}
.flexrow .flex1 {
  flex: 1;
}
.flexrow .flex2 {
  flex: 2;
}
.flexrow .flex3 {
  flex: 3;
}
.flexrow .flex4 {
  flex: 4;
}
.flexcol {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.flexcol > * {
  flex: 1;
}
.flexcol .flex1 {
  flex: 1;
}
.flexcol .flex2 {
  flex: 2;
}
.flexcol .flex3 {
  flex: 3;
}
.flexcol .flex4 {
  flex: 4;
}
/* ----------------------------------------- */
/*  All SW5e Apps                           */
/* ----------------------------------------- */
.sw5e {
  /* ----------------------------------------- */
  /*  Element Styles                           */
  /* ----------------------------------------- */
  /* Form Groups */
  /* Tags */
}
.sw5e .window-content {
  font-size: 13px;
}
.sw5e input[type="text"],
.sw5e input[type="number"],
.sw5e select {
  height: calc(100% - 2px);
  border: 1px solid #7a7971;
  background: rgba(0, 0, 0, 0.05);
  color: #191813;
}
.sw5e input[type="text"]:hover,
.sw5e input[type="number"]:hover,
.sw5e input[type="checkbox"]:hover,
.sw5e input[type="text"]:focus,
.sw5e input[type="number"]:focus,
.sw5e input[type="checkbox"]:focus {
  border: 1px solid #111;
  box-shadow: 0 0 8px red;
}
.sw5e input:disabled,
.sw5e select:disabled,
.sw5e textarea:disabled {
  color: #4b4a44;
  border: 1px solid transparent !important;
  outline: none !important;
}
.sw5e input:disabled:hover,
.sw5e select:disabled:hover,
.sw5e textarea:disabled:hover,
.sw5e input:disabled:focus,
.sw5e select:disabled:focus,
.sw5e textarea:disabled:focus {
  box-shadow: none !important;
  border: 1px solid transparent !important;
  outline: none !important;
}
.sw5e button {
  background: rgba(0, 0, 0, 0.1);
  border: 2px groove #eeede0;
}
.sw5e .form-group label {
  flex: 2;
  color: #4b4a44;
  font-weight: bold;
}
.sw5e .form-group .form-fields {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.sw5e .form-group .form-fields > * {
  flex: 1;
}
.sw5e .form-group .form-fields .flex1 {
  flex: 1;
}
.sw5e .form-group .form-fields .flex2 {
  flex: 2;
}
.sw5e .form-group .form-fields .flex3 {
  flex: 3;
}
.sw5e .form-group .form-fields .flex4 {
  flex: 4;
}
.sw5e .form-group .form-fields > * {
  margin: 0 3px 0 0;
}
.sw5e .form-group .form-fields > *:last-child {
  margin-right: 0;
}
.sw5e .form-group.stacked > label {
  flex: 0 0 100%;
  margin: 0;
}
.sw5e .form-group.stacked label.checkbox,
.sw5e .form-group.stacked label.radio {
  flex: auto;
  text-align: left;
}
.sw5e .form-header {
  margin: 0 0 0.25em 0;
  padding: 2px 0;
  border-top: 2px groove #eeede0;
  border-bottom: 2px groove #eeede0;
  font-family: "Modesto Condensed", "Palatino Linotype", serif;
  font-size: 20px;
  font-weight: 700;
}
.sw5e .tag {
  display: inline-block;
  margin: 0 2px 0 0;
  padding: 0 3px;
  font-size: 10px;
  line-height: 16px;
  border: 1px solid #999;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.05);
}
/* ----------------------------------------- */
/*  Hit Dice Config Sheet Specifically       */
/* ----------------------------------------- */
.sw5e.hd-config .form-group button.increment,
.sw5e.hd-config .form-group button.decrement {
  flex: 0 0 1rem;
  line-height: 1rem;
}
.sw5e.hd-config .form-group button.decrement {
  margin-right: 0;
}
.sw5e.hd-config .form-group span.sep {
  margin: 0;
}
.sw5e.hd-config .form-group input {
  flex: 0 0 2rem;
  text-align: center;
  margin-left: 2px;
  margin-right: 2px;
}
/* ----------------------------------------- */
/*  Entity Sheets Specifically               */
/* ----------------------------------------- */
.sw5e.sheet {
  /* ----------------------------------------- */
  /*  Element Styles                           */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  TinyMCE                                  */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Notifications                            */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Sheet Header                             */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Sheet Navigation                         */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Sheet Body                               */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  List Filters                             */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Trait Lists                              */
  /* ----------------------------------------- */
}
.sw5e.sheet .window-content {
  overflow-y: hidden;
  padding: 5px;
  background: url("ui/parchment.jpg") repeat;
  font-size: 13px;
  color: #191813;
}
.sw5e.sheet .window-content form {
  height: 100%;
  overflow: hidden;
}
.sw5e.sheet .window-content .tab {
  height: 100%;
  overflow-y: auto;
  align-content: flex-start;
}
.sw5e.sheet input[type="text"],
.sw5e.sheet input[type="number"] {
  background: none;
  border: 1px solid transparent;
}
.sw5e.sheet input[type="text"]:hover,
.sw5e.sheet input[type="number"]:hover,
.sw5e.sheet input[type="text"]:focus,
.sw5e.sheet input[type="number"]:focus {
  border: 1px solid #111;
}
.sw5e.sheet select {
  flex: 1;
  font-size: 12px;
  height: 22px;
  background: transparent;
}
.sw5e.sheet .editable .rollable:hover {
  cursor: pointer;
}
.sw5e.sheet .editable h4.rollable:hover,
.sw5e.sheet .editable .rollable:hover > h4 {
  color: #000;
  text-shadow: 0 0 10px red;
}
.sw5e.sheet span.sep {
  flex: none;
  margin: 0 1px;
  display: inline;
  position: relative;
  color: #7a7971;
  font-weight: normal;
}
.sw5e.sheet .editor {
  height: 100%;
}
.sw5e.sheet .editor .tox-toolbar-overlord,
.sw5e.sheet .editor .tox-toolbar__primary {
  background: none;
}
.sw5e.sheet .warnings,
.sw5e.sheet .info {
  flex: 0 0 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}
.sw5e.sheet .warnings .notification,
.sw5e.sheet .info .notification {
  font-family: 'Signika', sans-serif;
  font-weight: normal;
  font-size: 13px;
  box-shadow: none;
  padding: 2px 8px;
  margin-bottom: 2px;
}
.sw5e.sheet .sheet-header {
  flex: 0 0 100px;
  border-bottom: 2px groove #eeede0;
  /* Character Name */
  /* Profile Image */
  /* Header Summary Details */
}
.sw5e.sheet .sheet-header .header-details {
  font-family: "Modesto Condensed", "Palatino Linotype", serif;
  font-size: 20px;
  font-weight: 700;
}
.sw5e.sheet .sheet-header .header-details .summary select {
  width: 100%;
  height: 100%;
  border: 0;
  font-family: "Modesto Condensed", "Palatino Linotype", serif;
  font-size: 20px;
  font-weight: 700;
  text-transform: capitalize;
  font-weight: 100;
}
.sw5e.sheet .sheet-header h1 {
  flex: 1;
  border-bottom: none;
  height: 60px;
  margin: 0;
  padding: 5px;
}
.sw5e.sheet .sheet-header h1 input {
  display: block;
  height: 50px;
  font-size: 32px;
  margin: 0;
}
.sw5e.sheet .sheet-header img.profile {
  flex: 0 0 100px;
  max-width: 100px;
  height: 100px;
  object-fit: contain;
  border: none;
  border-right: 2px groove #eeede0;
}
.sw5e.sheet .sheet-header .summary {
  flex: 0 0 100%;
  height: 40px;
  margin: 0;
  padding: 0;
  list-style: none;
  border-top: 2px groove #eeede0;
  border-bottom: none;
}
.sw5e.sheet .sheet-header .summary li {
  height: calc(100% - 6px);
  float: left;
  margin: 2px 0;
  padding: 0;
  border-right: 2px groove #eeede0;
  line-height: 34px;
  color: #4b4a44;
}
.sw5e.sheet .sheet-header .summary li:last-child {
  border-right: none;
}
.sw5e.sheet .sheet-navigation {
  flex: 0 0 30px;
  margin-bottom: 5px;
  font-family: "Modesto Condensed", "Palatino Linotype", serif;
  font-size: 20px;
  font-weight: 700;
}
.sw5e.sheet .sheet-navigation .item {
  height: 30px;
  line-height: 32px;
  margin: 0 24px;
  border-bottom: 3px solid #b5b3a4;
}
.sw5e.sheet .sheet-navigation .item.active {
  border-bottom: 3px solid #44191A;
}
.sw5e.sheet .sheet-body {
  flex: 1;
  overflow: hidden;
}
.sw5e.sheet .filter-list {
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 16px;
  max-width: 70%;
}
.sw5e.sheet .filter-list .filter-icon {
  flex: none;
  font-size: 14px;
  color: #7a7971;
}
.sw5e.sheet .filter-list .filter-item {
  text-align: center;
  font-size: 12px;
  margin: 0 6px 0 0;
  border-bottom: 3px solid #b5b3a4;
  white-space: nowrap;
}
.sw5e.sheet .filter-list .filter-item:last-child {
  margin: 0;
}
.sw5e.sheet .filter-list .filter-item:hover {
  text-shadow: 0 0 4px red;
  border-bottom: 3px solid #7a7971;
}
.sw5e.sheet .filter-list .filter-item.active {
  border-bottom: 3px solid #44191A;
}
.sw5e.sheet .traits {
  margin: 5px 0 0;
}
.sw5e.sheet .traits .traits-list {
  flex: 0 0 100%;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.sw5e.sheet .trait-selector,
.sw5e.sheet .proficiency-selector {
  flex: 0 0 16px;
  padding: 2px 0;
  color: #999;
  font-size: 10px;
}
/* ----------------------------------------- */
/*  Items Lists                              */
/* ----------------------------------------- */
.sw5e {
  /* ----------------------------------------- */
  /*  Active Effects                           */
  /* ----------------------------------------- */
}
.sw5e .items-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: thin;
  color: #7a7971;
}
.sw5e .items-list .item-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.sw5e .items-list .item-name {
  flex: 2;
  margin: 0;
  overflow: hidden;
  font-size: 13px;
  text-align: left;
  align-items: center;
}
.sw5e .items-list .item-name h3,
.sw5e .items-list .item-name h4 {
  margin: 0;
  white-space: nowrap;
  overflow-x: hidden;
}
.sw5e .items-list .item-controls {
  flex: 0 0 60px;
  justify-content: space-between;
}
.sw5e .items-list .item-controls a {
  font-size: 12px;
  text-align: center;
}
.sw5e .items-list .item {
  align-items: center;
  padding: 0 2px;
  border-bottom: 1px solid #c9c7b8;
}
.sw5e .items-list .item:last-child {
  border-bottom: none;
}
.sw5e .items-list .item .item-name {
  color: #191813;
}
.sw5e .items-list .item .item-name .item-image {
  flex: 0 0 30px;
  height: 30px;
  background-size: 30px;
  border: none;
  margin-right: 5px;
}
.sw5e .items-list .items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
}
.sw5e .items-list .items-header > * {
  font-size: 12px;
  text-align: center;
}
.sw5e .items-list .items-header h3 {
  padding-left: 5px;
  font-family: "Modesto Condensed", "Palatino Linotype", serif;
  font-size: 20px;
  font-weight: 700;
  text-align: left;
  font-size: 16px;
}
.sw5e .effects .item .effect-source,
.sw5e .effects .item .effect-duration,
.sw5e .effects .item .effect-controls {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}
.sw5e .effects .item .effect-controls {
  border: none;
}
/* ----------------------------------------- */
/* Trait Selector
/* ----------------------------------------- */
.trait-selector .trait-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.trait-selector .trait-list li ol.trait-list {
  margin-left: 1.5em;
}
.trait-selector input[type="text"] {
  height: 24px;
  margin: 2px;
}
/* ----------------------------------------- */
/*  Property Attribution                     */
/* ----------------------------------------- */
.property-attribution {
  display: none;
  position: absolute;
  padding: 3px;
  border: 1px solid #000;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(4px);
  color: #c9c7b8;
  text-align: left;
  z-index: 1;
}
.property-attribution table {
  margin: 0;
  border: 0;
}
.property-attribution table tr {
  background-color: inherit;
}
.property-attribution table td {
  padding: 3px;
}
.property-attribution table tr.total > td {
  font-weight: 600;
  padding-top: 5px;
  border-top: 1px solid #7a7971;
}
.property-attribution table td.attribution-value {
  width: 20%;
  padding-right: 5px;
  text-align: right;
  font-weight: 600;
}
.property-attribution table td::before {
  opacity: 0.6;
}
.property-attribution table td.mode-1::before {
  content: "×";
}
.property-attribution table td.mode-2::before {
  content: "+";
}
.property-attribution table td.mode-2.negative::before {
  content: "−";
  margin-right: -1px;
}
.property-attribution table td.mode-3::before {
  content: "↓";
}
.property-attribution table td.mode-4::before {
  content: "↑";
}
/* ----------------------------------------- */
/*  Actor Type Config Sheet Specifically     */
/* ----------------------------------------- */
.actor-type .trait-list {
  display: flex;
  flex-wrap: wrap;
}
.actor-type .trait-list li {
  flex-basis: 50%;
  flex-grow: 1;
}
.actor-type .trait-list li.form-group {
  flex-basis: 100%;
}
.actor-type label.radio {
  display: flex;
  flex: auto;
  font-size: 12px;
  line-height: 20px;
  font-weight: normal;
}
.actor-type label.radio > input[type="radio"] {
  margin: 0 5px 0 0;
}
.actor-type li.custom-type input[type="radio"] {
  display: none;
}
/* ----------------------------------------- */
/*  Armor Config Sheet Specifically          */
/* ----------------------------------------- */
.sw5e.actor-armor-config .ac-field input {
  font-size: 3em;
  text-align: center;
}
/* ----------------------------------------- */
/*  Add Feature Prompt Specifically          */
/* ----------------------------------------- */
.sw5e.select-items-prompt .dialog-content {
  margin-bottom: 1em;
}
.sw5e.select-items-prompt .items-list {
  margin-top: 0.5em;
}
.sw5e.select-items-prompt .item-name > label,
.sw5e.select-items-prompt .item-image,
.sw5e.select-items-prompt input {
  cursor: pointer;
}
.sw5e.select-items-prompt .item-name > label {
  align-items: center;
}
.sw5e.select-items-prompt .window-content {
  max-height: 90vh;
  overflow-y: auto;
}
