.sw5e.sheet.actor.vehicle {
  min-width: 720px;
  min-height: 680px;
}
.sw5e.sheet.actor.vehicle .features .item-controls {
  flex: 0 0 68px;
}
.sw5e.sheet.actor.vehicle .features .item-controls .item-toggle {
  color: #b5b3a4;
}
.sw5e.sheet.actor.vehicle .features .item-controls .item-toggle.active {
  color: #4b4a44;
}
.sw5e.sheet.actor.vehicle .counters .counter.creature-cap .counter-value {
  flex: 1;
}
.sw5e.sheet.actor.vehicle .counters .counter.creature-cap input {
  max-width: none;
  text-align: right;
}
.sw5e.sheet.actor.vehicle .counters .counter.cargo-cap input {
  max-width: 40px;
  text-align: right;
}
