{
    "printWidth": 120,
    "tabWidth": 4,
    "useTabs": false,
    "semi": true,
    "singleQuote": false,
    "quoteProps": "consistent",
    "jsxSingleQuote": false,
    "trailingComma": "none",
    "bracketSpacing": false,
    "jsxBracketSameLine": false,
    "arrowParens": "always",
    "endOfLine": "lf"
}
