{{! Notes }}
<section class="notes">
    {{editor
    enriched.notes
    target="system.details.notes.value"
    button=true
    editable=editable
    engine="prosemirror"
    collaborate=false
    }}
</section>