<div class="form-group">
  <label>{{localize "SW5E.PowerProgression"}}</label>
  <div class="form-fields">
    <select name="system.powercasting.progression">
      {{selectOptions config.powerProgression selected=system.powercasting.progression}}
    </select>
  </div>
</div>

<div class="form-group">
  <label>{{localize "SW5E.PowerAbility"}}</label>
  <div class="form-fields">
    <select name="system.powercasting.ability">
      {{selectOptions config.abilities selected=system.powercasting.ability labelAttr="label" blank=""}}
    </select>
  </div>
</div>
