<div class="form-group">
  <label>{{localize "SW5E.PowerProgression"}}</label>
  <div class="form-fields">
    <select name="data.powercasting.progression">
      {{selectOptions config.powerProgression selected=data.powercasting.progression}}
    </select>
  </div>
</div>

<div class="form-group">
  <label>{{localize "SW5E.PowerAbility"}}</label>
  <div class="form-fields">
    <select name="data.powercasting.ability">
      {{selectOptions config.abilities selected=data.powercasting.ability blank=""}}
    </select>
  </div>
</div>
