<div class="form-group">
  <label>{{localize "SW5E.ForceCasting"}}</label>
  <div class="form-fields">
    <select name="system.powercasting.force">
      {{selectOptions config.powerProgression selected=system.powercasting.force}}
    </select>
  </div>
</div>
<div class="form-group">
  <label>{{localize "SW5E.TechCasting"}}</label>
  <div class="form-fields">
    <select name="system.powercasting.tech">
      {{selectOptions config.powerProgression selected=system.powercasting.tech}}
    </select>
  </div>
</div>
