<div class="form-group">
  <label>{{localize "SW5E.ForceCasting"}}</label>
  <div class="form-fields">
    <select name="data.powercasting.force">
      {{selectOptions config.powerProgressionForce selected=data.powercasting.force}}
    </select>
  </div>
</div>
<div class="form-group">
  <label>{{localize "SW5E.TechCasting"}}</label>
  <div class="form-fields">
    <select name="data.powercasting.tech">
      {{selectOptions config.powerProgressionTech selected=data.powercasting.tech}}
    </select>
  </div>
</div>
