{{! Notes }}
<section class="notes">
  {{editor
    notesHTML
    target="system.details.notes.value"
    button=true
    editable=editable
    engine="prosemirror"
    collaborate=false
  }}
</section>
