#sidebar {
  border: none; //1px solid @colorBlue;
}

#sidebar-tabs {
  border: none;
  box-shadow: none;
  background: white;
  .dropShadow1();
  & > .collapse {
    color: @colorRed;
  }
  .item {
    font-size: 16px;
  }
  .item.active {
    color: @colorRed;
    border: none;
    border-bottom: 3px solid @colorRed;
    box-shadow: none;
    background: none;
    text-shadow: none;
  }
}

/*-----------
** Chat Tab
-----------*/

#chat-log {
  .chat-message {
    background: white;
    border: none;
    border-radius: 4px;
    margin-bottom: 8px;
    .dropShadow1();
    & > header {
      color: @colorRed;
      border-bottom: 2px solid @colorBlue;
      margin-bottom: 4px;
      span {
        color: @colorBlack;
      }
    }

  }
}
.notification-pip {
  color: @colorBlue;
  text-shadow: none;

}

.sw5e.chat-card,
.midi-qol-item-card {
  font-size: 13px;

  .card-header {
    padding: 0;
    border: none;

    img {
      flex: 0 0 36px;
      margin-right: 4px;
    }

    h3 {
      flex: 1;
      margin: 0;
      line-height: 36px;
      .russoOne(17px);
      color: @colorBlack;
      &:hover {
        color: @colorBlack;
        text-shadow: none;
      }
    }
  }

  .card-content {
    margin: 4px 0;

    h3 {
      font-size: 12px;
      margin: 0;
      font-weight: bold;
    }

    > * {
      -webkit-user-select: text;
      -moz-user-select: text;
      -ms-user-select: text;
      user-select: text;
    }
  }

  .card-buttons {
    margin: 4px 0;

    span {
      display: block;
      line-height: 28px;
      text-align: center;
      border: 1px solid @colorLightGray;
    }

    button {
      .openSans(13px, 700);
      padding: 4px 0;
      height: auto;
      line-height: 1.6;
      margin: 4px 0;
      background: @colorRed;
      border: none;
      border-radius: 4px;
      &:hover, &:focus {
        background-color: lighten(@colorRed, 5);
        box-shadow: none;
      }
    }
  }

  .card-footer {
    padding: 4px 0 0;
    border-top: 1px solid @colorLightBlue;

    span {
      border-right: 2px groove #FFF;
      padding: 0 4px 0 0;
      font-size: 10px;

      &:last-child {
        border-right: none;
        padding-right: 0;
      }
    }
  }
}
.dice-roll {

.dice-formula {
  background: none;
  border: none;
}
.dice-total {
  background: @colorPaleBlue;
  border: 1px solid @colorBlue;
  border-radius: 0;
  padding: 4px 0;
  box-shadow: 0 0 12px rgba(@colorBlue,.5);
  &.success {
    color: inherit;
    background: #c7d0c0;
    border: 1px solid #006c00;
  }
  &.failure {
    color: inherit;
    background: #ffdddd;
    border: 1px solid #6e0000;
  }
  &.critical {
    color: @colorGreen;
    background: @colorPaleGreen;
    box-shadow: 0 0 12px rgba(@colorGreen,.5);
  }
  &.fumble {
    color: red;
  }
}
}
#chat-controls {
  &.roll-type-select {
    background: #4f4f4f;
	color: #FFFFFF;
  }
  padding-top: 4px;
  label {
    color: @colorBlack;
  }
 
}
#chat-form  textarea {
  background: #4f4f4f;
  &:focus {
    box-shadow: none;
    outline: none;
  }
}

/*-----------
** Combat Tab
-----------*/
#combat {
#combat-round {
  color: @colorRed;
  border-bottom: 2px solid @colorBlue;
  .encounters {
      h4 {
      color: @colorRed;
    }
    a {
      color: @colorGray;
      &:hover {
        color: @colorRed;
      }
    }
  }
}
  #combat-tracker {
    //padding-top: 4px;
    li.combatant {
      padding: 4px 0;
      color: @colorBlack;
      background: none;
      &:nth-child(even) {
        background: rgba(@colorPaleBlue, 0.5);
      }
      h4 {
        color: @colorBlack;
        text-shadow: none;
      }
      .roll {
        background: none;
        color: @colorGray;
        &::before {
          content: "\f6cf";
          .fontAwesome();
          font-size: 28px;
        }
        &:hover {
          color: @colorRed;
        }
      }
      .combatant-control {
        color: @colorLightGray;
        text-shadow: none;
        &.active {
          color: @colorDarkGray;
        }
      }
      .token-resource {
        color: @colorGray;
        border-right: 1px solid @colorLightGray;
      }
      .initiative {
        text-shadow: none;
      }
      &.active {
        color: @colorBlue;
        .initiative, h4 {
          color: @colorBlue;
        }
      }
      &.hidden {
        opacity: 0.5;
        color: @colorBlack;
      }
    }
  }
  #combat-controls {
    padding-top: 0;
    border-top: 1px solid @colorBlue;
  }
}

/*
** Folders
*/
.sidebar-tab {
.directory-header {
  margin-bottom: 4px;
  .header-search {
    position: relative;
    i.fa-search {
      position: absolute;
      left: 8px;
      color: @colorBlue;
    }
    input {
      text-align: left;
      padding-left: 22px;
      background: white;
      &:focus {
        box-shadow: none;
      }
    }
  }
}
.subdirectory {
  border: none;
  margin-left: 8px;
  background: white;
  min-height: 8px;
  .folder {
    border-left: 2px solid rgba(@colorBlack, 0.4);
  }
}
.directory-list {
  padding-bottom: 4px;
  li + li {
    border-top: 1px solid @colorBlue;
  }
  .folder {
    & > .folder-header {
      line-height: initial;
      padding: 0 0 0 8px;
      position: relative;
      border: none;
      background: white;
      h3 {
        padding: 8px 4px;
        background: white;
        color: @colorBlack;
        .openSans(13px, 700);
        line-height: 1.6;
        & > i {
          margin-right: 4px;
          color: @colorBlue;
        }
      }
      a {
        position: absolute;
        top: 0;
        right: 4px;
        height: 100%;
        padding: 0 4px;
        color: @colorLightGray;
        &:hover {
          color: @colorRed;
        }
        i {
          margin-top: 12px;
        }
        
        &.create-folder {
          right: 28px;
        }
      }
    }
    &.collapsed > .folder-header {
      background: white;
    }
    & + .entity {
      border-top: 1px solid @colorBlue;
    }
  }
  .directory-item img {
    flex: 0 0 32px;
    height: 32px;
    width: 32px;
    align-self: center;
  }
  .actor, .item, .journal, .table {
    background: white;
    border: none;
    .entity-name {
      .openSans(13px, 700);
      color: @colorBlack;
    }
    &:nth-child(even) {
      background: rgba(@colorPaleBlue, 0.3);
    }
  }
}
}
#scenes {
  .subdirectory {
    border-left: none;
  }
  .scene {
    border: none;
    border-top: 1px solid @colorBlue;
    border-left: 4px solid @colorBlue;
    box-shadow: none;
    position: relative;
    height: 128px;
    //margin-bottom: 4px;
    & + .scene {
      margin-top: 4px;
    }
    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 99px;
      position: absolute;
      top: 28px;
      left: 0;
      box-shadow: 0 0 20px @colorBlue inset;
    }
    h3 {
      .openSans(13px, 700);
      text-align: left;
      text-shadow: none;
      padding: 4px 4px 4px 12px;
      background: white;
      line-height: 1.6;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
  }
}

#playlists {
  .directory-list {
    padding: 0 8px;
    li.playlist {
      padding: 8px;
      border-radius: 4px;
      background: white;
      margin-bottom: 8px;
      border-top: inherit;
      .dropShadow1();
      .playlist-header {
        background: white;
        color: @colorRed;
        text-decoration: none;
        border-bottom: 2px solid @colorBlue;
      }
      li.sound {
        border: none;
        color: @colorBlack;
        h4 {
          .openSans(13px, 400);
        }
        
      }
      a.sound-control {
        color: @colorRed;
      }
    }
  }
  
}
#compendium {
  .compendium-entity {
    margin: 0 4px;
    padding: 8px;
    background: white !important;
    .dropShadow1();
    border-radius: 4px;
    border: none;
    &+ .compendium-entity {
      margin-top: 4px;
    }
    h3 {
      border: none;
      color: @colorRed;
      border-bottom: 2px solid @colorBlue;
      .russoOne(17px);
      padding: 0;
      margin-bottom: 4px;
    }
    ol.compendium-list {
      li.compendium-pack {
        margin: 0;
        padding: 4px;
        border: none;
        &:nth-child(even) {
          background: rgba(@colorPaleBlue, 0.3);
        }
        .pack-title {
          margin: 0;
          position: relative;
          a {
            .openSans(13px, 700);
            i {
              display: none;
            }
          }
          .status-icons {
            top: 4px;
            color: @colorLightGray;
            font-size: 13px;
          }
        }
        footer.compendium-footer {
          color: @colorBlack;
        }
      }
    }
  }
}

#settings {
  h2 {
    color: @colorRed;
    border: none;
    border-bottom: 2px solid @colorBlue;
    margin: 0 8px;
    padding: 0;
  }
  #game-details, #settings-game, #settings-documentation, #settings-access {
    padding: 0 8px;
    margin: 0 0 8px;
    color: @colorBlack;
  }
}