<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Item Sheet Header --}}
    <header class="sheet-header flexrow">
        <img class="profile" src="{{item.img}}" title="{{item.name}}" data-edit="img"/>

        <div class="header-details flexrow">
            <h1 class="charname">
                <input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'SW5E.ItemName' }}"/>
            </h1>

            <div class="item-subtitle">
                <h4 class="item-type">{{itemType}}</h4>
                <span class="item-status">{{itemStatus}}</span>
            </div>

            <ul class="summary">
                <li>
                    <input type="text" name="data.source" value="{{data.source}}" placeholder="Source"/>
                </li>
            </ul>
        </div>
    </header>

    {{!-- Item Sheet Navigation --}}
    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item active" data-tab="description">Description</a>
        <a class="item" data-tab="species-traits">Species Traits</a>
    </nav>

    {{!-- Item Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
		
		<div class="tab description flexcol" data-group="primary" data-tab="description">

		<table id="characteristics-table" style="background-color: #c2e0f4; border-color: #3598db; border-style: solid; height: 217px; width: 630px; word-wrap: break-word;" border="1">
			<tbody>
				<tr style="height: 17px; background-color: #ced4d9;">
					<th style="text-align: left; height: 17px; width: 350px;" colspan="4">VISUAL CHARACTERISTICS</th>
				</tr>
				<tr class="nondroidtr" style="height: 17px; border-style: none;">
					<td style="border-style: none; height: 17px; width: 148px;"><em><strong>Skin Color</strong></em></td>
					<td style="border-style: none; height: 17px; width: 20px;">&nbsp;</td>
					<td style="border-style: none; width: 154px; height: 17px;"><input name="data.skinColorOptions.value" type="text" value="{{data.skinColorOptions.value}}" placeholder="{{ localize SW5E.skinColorOptions }}"/></td>
					<td style="border-style: none; height: 17px; width: 150px;">&nbsp;</td>
				</tr>
				<tr class="nondroidtr" style="border-style: none; height: 17px; background-color: #ced4d9;">
					<td style="border-style: none; height: 17px; width: 148px;"><em><strong>Hair Color</strong></em></td>
					<td style="border-style: none; height: 17px; width: 20px;">&nbsp;</td>
					<td style="border-style: none; width: 154px; height: 17px;"><input name="data.hairColorOptions.value" type="text" value="{{data.hairColorOptions.value}}" placeholder="{{ localize SW5E.hairColorOptions }}"/></td>
					<td style="border-style: none; height: 17px; width: 150px;">&nbsp;</td>
				</tr>
				<tr class="nondroidtr" style="height: 17px;">
					<td style="border-style: none; height: 17px; width: 148px;"><em><strong>Eye Color</strong></em></td>
					<td style="border-style: none; height: 17px; width: 20px;">&nbsp;</td>
					<td style="border-style: none; width: 154px; height: 17px;"><input name="data.eyeColorOptions.value" type="text" value="{{data.eyeColorOptions.value}}" placeholder="{{ localize SW5E.eyeColorOptions }}"/></td>
					<td style="border-style: none; height: 17px; width: 150px;">&nbsp;</td>
				</tr>
				<tr style="border-style: none; height: 17px; background-color: #ced4d9;">
					<td style="border-style: none; height: 17px; width: 148px;"><em><strong>Distinctions</strong></em></td>
					<td style="border-style: none; height: 17px; width: 20px;">&nbsp;</td>
					<td style="border-style: none; width: 154px; height: 17px;" colspan="2"><input name="data.distinctions.value" type="text" value="{{data.distinctions.value}}" placeholder="{{ localize SW5E.distinctions }}"/></td>
				</tr>
				<tr style="background-color: #ced4d9;">
					<th style="text-align: left; height: 17px; width: 519px;" colspan="4">PHYSICAL CHARACTERISTICS</th>
				</tr>
				<tr style="height: 17px;">
					<td style="border-style: none; height: 17px; width: 148px;"><em><strong>Height</strong></em></td>
					<td style="border-style: none; height: 17px; width: 20px;">&nbsp;</td>
					<td style="text-align: center; border-style: none; width: 155px; height: 17px;"><input name="data.heightAverage.value" type="text" value="{{data.heightAverage.value}}" placeholder="5'2&rdquo;"/></td>
					<td style="text-align: center; border-style: none; height: 17px; width: 151px;"><input name="data.heightRollMod.value" type="text" value="{{data.heightRollMod.value}}" placeholder="+1d4&rdquo;"/></td>
				</tr>
				<tr style="background-color: #ced4d9;">
					<td style="border-style: none; height: 17px; width: 148px; background-color: #ced4d9;"><em><strong>Weight</strong></em></td>
					<td style="border-style: none; height: 17px; width: 20px;">&nbsp;</td>
					<td style="text-align: center; border-style: none; width: 155px; height: 17px;"><input name="data.weightAverage.value" type="text" value="{{data.weightAverage.value}}" placeholder="100 lb."/></td>
					<td style="text-align: center; border-style: none; height: 17px; width: 151px;"><input name="data.weightRollMod.value" type="text" value="{{data.weightRollMod.value}}" placeholder="x(1d4) lb."/></td>
				</tr>
				<tr class="nondroidtr" style="background-color: #ced4d9;">
					<th style="text-align: left; height: 17px; width: 519px;" colspan="4">SOCIOCULTURAL CHARACTERISTICS</th>
				</tr>                
				<tr class="nondroidtr" style="height: 17px;">
					<td style="border-style: none; height: 17px; width: 148px;"><em><strong>Homeworld</strong></em></td>
					<td style="border-style: none; height: 17px; width: 20px;">&nbsp;</td>
					<td style="border-style: none; width: 154px; height: 17px;" colspan="2"><input name="data.homeworld.value" type="text" value="{{data.homeworld.value}}" placeholder="{{ localize SW5E.homeworld }}"/></td>
				</tr>
				<tr class="nondroidtr" style="background-color: #ced4d9;">
					<td style="border-style: none; height: 17px; width: 148px;"><em><strong>Language</strong></em></td>
					<td style="border-style: none; height: 17px; width: 20px;">&nbsp;</td>
					<td style="border-style: none; width: 154px; height: 17px;" colspan="2"><input name="data.slanguage.value" type="text" value="{{data.slanguage.value}}" placeholder="{{ localize SW5E.slanguage }}"/></td>
				</tr>                
			</tbody>
		</table>

		<div id="species-description"> 
		<p>
		<!--Species Description-->
		{{editor content=data.description.value target="data.description.value" fontsize=12px button=true editable=editable}}
		</p>
		</div>
		</div>
		
        {{!-- Traits Tab --}}
		
		<div id="species traits" class="tab species-traits flexcol" data-group="primary" data-tab="species-traits">
		<span id="Traits"><h2>{{item.name}} TRAITS</h2>
		<p>As a/an {{item.name}}, you have the following special traits.<br>
		{{editor content=data.traits.value target="data.traits.value" button=true editable=editable}}
		</span>
		</div>
		
	</section>


</form>
