<form class="{{cssClass}} flexcol" autocomplete="off">
    {{!-- Item Sheet Header --}}
    <header class="sheet-header flexrow">
        <img class="profile" src="{{item.img}}" title="{{item.name}}" data-edit="img" />

        <div class="header-details flexrow">
            <h1 class="charname">
                <input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'SW5E.ItemName' }}" />
            </h1>

            <div class="item-subtitle">
                <h4 class="item-type">{{itemType}}</h4>
                <span class="item-status">{{itemStatus}}</span>
            </div>

            <ul class="summary flexrow">
                <li style="flex-basis: 80px">{{lookup config.weaponTypes data.weaponType }}</li>
                <li>
                    <select name="data.rarity">
                        {{selectOptions config.itemRarity selected=data.rarity blank="&nbsp;"}}
                    </select>
                </li>
                <li>
                    <input
                        type="text"
                        name="data.source"
                        value="{{data.source}}"
                        placeholder="{{ localize 'SW5E.Source' }}"
                    />
                </li>
            </ul>
        </div>
    </header>

    {{!-- Item Sheet Navigation --}}
    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item active" data-tab="description">{{ localize "SW5E.Description" }}</a>
        <a class="item" data-tab="details">{{ localize "SW5E.Details" }}</a>
        <a class="item" data-tab="modifications">{{ localize "SW5E.ModificationPl" }}</a>
        <a class="item" data-tab="effects">{{ localize "SW5E.Effects" }}</a>
    </nav>

    {{!-- Item Sheet Body --}}
    <section class="sheet-body">
        {{!-- Description Tab --}} {{> "systems/sw5e/templates/items/parts/item-description.html"}}

        {{!-- Details Tab--}}
        <div class="tab details" data-group="primary" data-tab="details">
            <h3 class="form-header">{{ localize "SW5E.ItemWeaponDetails" }}</h3>

            {{!-- Weapon Type --}}
            <div class="form-group">
                <label>{{ localize "SW5E.ItemWeaponType" }}</label>
                <select name="data.weaponType">
                    {{selectOptions config.weaponTypes selected=data.weaponType}}
                </select>
            </div>

            <div class="form-group">
                <label>{{ localize "SW5E.ItemWeaponBase" }}</label>
                <select name="data.baseItem">
                    {{selectOptions baseItems selected=data.baseItem blank=""}}
                </select>
            </div>

            {{!-- Starship Weapon Size --}}
            <!-- <div class="form-group">
                <label>{{ localize "SW5E.ItemWeaponSize" }}</label>
                <select name="data.weaponSize">
                    <option value="" selected disabled>Select Size</option>
                    {{#select data.weaponSize}}
                    {{#each config.weaponSizes as |name size|}}
                    <option value="{{size}}">{{name}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </div> -->

            {{!-- Weapon Status --}}
            {{#unless isMountable}}
                {{#unless isStarshipWeapon}}
                    <div class="form-group">
                        <label>{{localize "SW5E.Attunement"}}</label>
                        <select name="data.attunement" data-dtype="Number">
                            {{selectOptions config.attunements selected=data.attunement localize=true}}
                        </select>
                    </div>
                {{/unless}}

                <div class="form-group stacked">
                    <label>{{ localize "SW5E.ItemWeaponStatus" }}</label>
                    <div class="form-fields">
                        {{#unless isStarshipWeapon}}
                            <label class="checkbox">
                                <input type="checkbox" name="data.proficient" {{checked data.proficient}} /> {{ localize
                                "SW5E.Proficient" }}
                            </label>
                        {{/unless}}
                        <label class="checkbox">
                            <input type="checkbox" name="data.equipped" {{checked data.equipped}} /> {{ localize
                            "SW5E.Equipped" }}
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" name="data.identified" {{checked data.identified}} /> {{ localize
                            "SW5E.Identified" }}
                        </label>
                    </div>
                </div>
            {{/unless}}

            {{!-- Weapon Properties --}}
            <div class="form-group stacked weapon-properties">
                <label>{{ localize "SW5E.ItemWeaponProperties" }}</label>
                {{#each config.weaponProperties as |property key|}}
                {{#if (and (eq property.type "Boolean") (or (isUndefined property.ship) (eq ../isStarshipWeapon property.ship)))}}
                    <label class="checkbox">
                        <input type="checkbox" name="data.properties.{{key}}" {{checked (lookup ../data.properties key)}}/> {{ localize property.name }}
                    </label>
                {{/if}}
                {{/each}}

                {{#each config.weaponProperties as |property key|}}
                {{#if (and (eq property.type "Number") (or (isUndefined property.ship) (eq ../isStarshipWeapon property.ship)))}}
                <label class="number">
                    {{ localize property.name }}<input type="text" name="data.properties.{{key}}" value="{{lookup ../data.properties key}}" data-dtype="Number">
                </label>
                {{/if}}
                {{/each}}
            </div>

            {{#if isMountable}}
            <div class="form-group">
                <label>{{localize "SW5E.ArmorClass"}}</label>
                <div class="form-fields">
                    <input type="text" name="data.armor.value" value="{{data.armor.value}}" data-dtype="Number" />
                </div>
            </div>

            {{> 'systems/sw5e/templates/items/parts/item-mountable.html'}} {{/if}}

            <h3 class="form-header">{{ localize "SW5E.ItemWeaponUsage" }}</h3>

            {{!-- Item Activation Template --}} {{> "systems/sw5e/templates/items/parts/item-activation.html"}}

            <h3 class="form-header">{{ localize "SW5E.ItemWeaponAttack" }}</h3>

            {{!-- Item Action Template --}} {{> "systems/sw5e/templates/items/parts/item-action.html"}}
        </div>

        {{!-- Modifications Tab --}}
        <div class="tab modifications" data-group="primary" data-tab="modifications">
            {{> "systems/sw5e/templates/items/parts/item-modifications.html"}}
        </div>

        {{!-- Effects Tab --}}
        <div class="tab effects flexcol" data-group="primary" data-tab="effects">
            {{> "systems/sw5e/templates/actors/parts/active-effects.html"}}
        </div>
    </section>
</form>
